.ql-editor p {
  font-family: "Centrale Sans";
  font-weight: normal;
  font-size: 14pt;
  line-height: 20pt;
  padding-bottom:16pt;
}
.ql-size-large  {
  font-size: 22pt !important;
    font-family: "Centrale Sans";
  font-weight: bold;
  line-height: 28pt;
  color: #5f2d74;
  padding-bottom:12pt !important;
}

.ql-size-huge  {
  font-size: 22pt !important;
  font-family: "Centrale Sans";
  font-weight: bold;
  line-height: 28pt;
  color: #5f2d74;
  padding-bottom:12pt;
}


